@import url('https://fonts.googleapis.com/css?family=Kalam|Play&display=swap');

body {
	background-color: #F6F7FB;
	font-family: 'Play', sans-serif;
	font-family: 'Kalam', cursive;
}

body h1,h2,h3,h4,p,a {
	font-family: 'Kalam', cursive;
}

body p {
	font-size: 16px;
}

div .row.padding {
	padding: 0px;
}

.card {
	padding-bottom: 20px;
}

.card-deck .card {
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}

.card-title {
	padding-top: 15px;
}

.navbar {
	padding: .8rem;
	position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 5px 10px 10px #888888;
}

.navbar-nav {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

.bg-custom {
	background-color: #F6F7FB;
}

.carousel-inner .carousel-item{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.carousel .next {
  top: 40px;
  padding-left: 160px;
}

.carousel .prev {
  top: 40px;  
  padding-left: 160px;  
}

.carousel-inner img {
	width: 100%;
	height: 100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500%;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 2rem;
}

/*carousel fade transition*/

html, 
body, 
.carousel, 
.carousel-inner, 
.carousel-inner .carousel-item {
    height: 100%;
}

.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0.5;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

/*carousel fade transition end*/

.btn-primary {
	background-color: #6648b1;
	border: 1px solid #563d7c;
}

.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;
	box-shadow: 5px 10px 18px #888888;
}

.img-fluid{
	height: 200px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.navbar-toggler {
	align-content: right;
}

.cardcommon {
	padding-bottom: -20px;
	border-radius: 10px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: #FFEAB6;
}

.cardcommon:hover {
	background-color: white;
	border: 2px solid gold;
}

.cardcommon a {
	text-align: right;
	color: orange;
	text-decoration: none;
}

.cardcommon a:hover {
	text-align: right;
	color: blue;
	text-decoration: none;
}

.cardcommon h4:hover {
	text-align: center;
	text-decoration: none;
}

.small-logo {
	filter: brightness(0.5) invert(1);
	width: 10%;
	height: 10%;
	padding: 10px;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.emoji::after {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.hearts::after {
    content: '💗';
    animation-name: hearts;
    animation-duration: 3s;
}

.container-d {
	padding:50px;
}

.row-d {
	text-align: center;
	margin: 10px;
}

.home-newsletter {
	padding: 100px 0;
	background: linear-gradient(to bottom, #FEAA61 50%, #FE8745 100%);
	border-radius: 5px;
}

.home-newsletter .single {
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2; 
}

.home-newsletter .single h2 {
	font-size: 22px;
	color: white;
	text-transform: uppercase;
	margin-bottom: 40px; 
}

.home-newsletter .single .form-control {
	height: 50px;
	background: rgba(255, 255, 255, 0.6);
	border-color: transparent;
	border-radius: 20px 0 0 20px; 
}

.home-newsletter .single .form-control:focus {
	box-shadow: none;
	border-color: #243c4f; 
}

.home-newsletter .single .btn {
	min-height: 50px; 
	border-radius: 0 20px 20px 0;
	background: white;
	color: black;
}

#sub:hover {
	background: #FE8745;
	box-shadow: 5px 10px 18px #888888; 
}

#imgdon {
	padding: 30px;
	padding-bottom: 0px;
	margin: 0px;

}

#first-cont {
	padding-bottom: 60px;
}

#wrapper {
	background-image: url("https://images.unsplash.com/photo-1461559380858-2dd893d0b0d9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center center;
    background-size: 100% auto;
    width:auto;
    height:100% auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#logo {
	width: 20%;
	height: 20%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#c1, #c2, #c3, #c4 {
	text-align: center;
	background-position: center;
}

#c1:hover, #c2:hover, #c3:hover, #c4:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#b1, #b2, #b3, #b4 {
	transition: all 0.3s ease 0s;
	border: transparent;
}

#b1:hover, #b2:hover, #b3:hover, #b4:hover {
	background-color: blue;
	border: 2px solid;
	border-radius: 40px blue;
	box-shadow: 5px 10px 18px #888888;
}

#header-area {
	text-align: center;
}

#slides {
	padding: 20px;
	position: relative;
}

#div-two-sub {
	background: transparent;
	text-align: center;
	color: white;
	margin: auto;
	padding-bottom: 20px;
}

#div-two-main {
	padding:0px;
	align-items: center;
	border-radius: 5px;
	background: linear-gradient(to bottom, #FEAA61 0%, #FE8745 100%);
}

#img-div {
	border-radius: 5px;
	padding: 0px;
}

#img-div img {
	border-radius: 5px;
}

#div-two-sub .btn-primary {
	background-color: white;
	color: black;
	border-radius: 5px;
	transition: all 0.3s ease 0s;	
}

#div-two-sub .btn-primary:hover {
	background-color: blue;
	color: white;
	border: 1px solid #563d7c;
	border-color: transparent;
	box-shadow: 5px 10px 18px #888888;
}

#div-two {
	padding: 40px;
	background: transparent;
}

#img2 {
	padding: 0px;
	width: 100%;
	height: 100%;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#desc {
	text-align: center;
	width: 100%
	height:100%;
}

#desc-dev {
	padding: 20px;
	width: 100%;
	height: 100%;
}

#pic-div {
  	background-image: url("https://cdn.pixabay.com/photo/2016/11/14/03/21/fireworks-1822479_1280.jpg");
  	border-radius: 5px;
  	background-position: center;
  	padding:50px;
}

.row-d .small-logo {
	padding:0%; 
}

#btngo {
	margin-bottom: 15%;
}

#imggo {
	margin-top: 15%;
}

#btndnt {
	transition: all 0.3s ease 0s;
	border: transparent;
	margin-bottom: 100px;
}

#btndnt:hover {
	background-color: blue;
	border: 2px solid;
	border-radius: 40px blue;
	box-shadow: 5px 10px 18px #888888;
}

#logo-header {
	color: black;
}

#logo-footer {
	width: 6em;
	height: 3.5em;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#img3d {
	text-align: center;
	width: 20em;
	height: 20em;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*Link list decoration*/
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #FE8745;
  height: 4px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/*end decoration*/

.container-n {
	padding: 10px;
	text-align: center;
	color: white;
}

* {
    box-sizing: border-box;
    font-family: ’Lato’, sans-serif;
    margin: 0; 
    padding: 0;
}
ul {
    list-style: none;
    padding-left: 0;
}
footer {
    background-color: #F6F7FB;
    color: #bbb;
    line-height: 1.5;
    padding-top: 4em;
}

footer a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
}

.ft-title {
    color: black;
    font-family: ’Merriweather’, serif;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.container {
    flex: 1;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}
.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}
.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid; 
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: #F6F7FB;
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: gray;
}
.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

.fab {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 10px 18px #888888;
	width: 3em;
	height: 3em;
	color: black;
}

.fab:hover {
	border-radius: 25px;
	padding: 25px;
	width: 3em;
}

#donate-now {
	background-color: black;
}

#footer {
	color: gray;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
    .ft-main {
        justify-content: space-around;
    }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
    .ft-main {
        justify-content: space-evenly;
    }
}

/*Footer end*/

/*Media Queries*/
@media (max-width: 992px){
	.small-logo {
	filter: brightness(0.5) invert(1);
	width: 10%;
	height: 10%;
	padding: 10px;
	}

	#imgdon {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	}
}

@media (max-width: 768px){
	#wrapper {
		background-image: none;
	}

	#imgdon {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	}

	.small-logo {
	filter: brightness(0.5) invert(1);
	width: 20%;
	height: 20%;
	padding: 10px;
	}

	html, 
	body, 
	.carousel, 
	.carousel-inner, 
	.carousel-inner .carousel-item {
    height: 500px;
	}
}

@media (max-width: 576px){
	#wrapper {
		background-image: none;
	}

	#imgdon {
	padding: 10px;
	padding-bottom: 0px;
	margin: 0px;
	}

	.small-logo {
	filter: brightness(0.5) invert(1);
	width: 20%;
	height: 20%;
	padding: 10px;
	}

	html, 
	body, 
	.carousel, 
	.carousel-inner, 
	.carousel-inner .carousel-item {
    height: 250px;
	}
}

@keyframes hearts {
    16.666% {
        content: '🧡';
    }

    33.333% {
        content: '💛';
    }

    50% {
        content: '💚';
    }

    66.666% {
        content: '💙';
    }

    83.333% {
        content: '💜';
    }
}