.card{
	width: 18rem;
}

.card-deck .card {
    margin-left: 15px;
    margin-right: 15px;
}

.card-deck .card:not(:last-child) {
    margin-right: 15px;
}

.card-deck .card:not(:first-child) {
    margin-left: 15px;
}

.navbar {
	padding: .8rem;
}

.navbar-nav {
	padding-right: 20px;
}

.nav-link {
	font-size: 1.1em !important;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.carousel-caption h1 {
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3 {
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.btn-primary {
	background-color: #6648b1;
	border: 1px solid #563d7c;
}

.btn-primary:hover {
	background-color: #563d7c;
	border: 1px solid #563d7c;
}

#cont1 {
	padding-top: 100px;
}

#logo {
	width: 20%;
	height: 20%;
}

